[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
[jupyterlab = "*"]
[pylint = "*"]
[pytest = "*"]

[packages]
pandas = "*"
requests = "*"
email-validator = "*"
nameparser = "*"
google-cloud-storage = "*"

[requires]
python_version = "3.7"
